@charset "UTF-8";

#customer_service {
	margin-top: 20px;
	margin-right: 95px;
	margin-left: 95px;
	height: 1300px;
	background-color: white;
}

.cs_tb_1 {
	width: 150px;
	height: 80px;
	background-color: #BDBDBD;
	padding-left: 15px;
	font-size: 16px;
}

.cs_tb_2 {
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.cs_tb_2_input {
	height: 20px;
	width: 200px;
	padding: 3px;
	font-size: 15px;
}