@charset "UTF-8";
#logo{
	width="265"; height="30";
}
#con{
	width:100%; float:right;
	background-color:#ffffff;
}
#con ul{
	list-style:none;
	font-family: Verdana, Geneva, sans-serif; 
	font-size:18px;
	font-weight:100;
	color:black;
}
#con li{
	float:left; 
	float:right;
	margin:0px 5px;
}
#con a{
	display:block; height:20px; padding:10px; text-decoration:none;
	color:#333;
}
.main{
	width:100%;
	margin:10px auto;
}
.city {
    border: 1px solid red;
    float:left;
    width:20%;
    box-sizing: border-box;
}
.cout{
    border: 1px solid green;
    float:left;
    width:15%;
    box-sizing: border-box;
}
.cin{
    border: 1px solid blue;
	float:left;
    width:15%;
    box-sizing: border-box;
}
.s{
    border: 1px solid blue;
	float:left;
    width:15%;
    box-sizing: border-box;
}
.box{
	border:1px solid red;
	width:30%;
	float:left;
}
.tbox{
	width:21%;
}

.footer {

    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
	padding: 30px 0;
	text-align: center;
	color: white;
	background: blue;
}
.logo{
	display:inline;
}
.Date{
	width:15%;
}
.Date2{
	width:15%;
}
